flows.json
[{"id":"7cef7c2f.610024","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a5167841.bce1b8","type":"ui_form","z":"7cef7c2f.610024","name":"","label":"","group":"bc2b0978.0ce728","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"BMI ","value":"b","type":"number","required":true,"rows":null},{"label":"Adult_Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"Infant_Deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"Percentage_Expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"HepatitisB","value":"g","type":"number","required":true,"rows":null},{"label":"Under_Five_Deaths","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total_Expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"k","type":"number","required":true,"rows":null},{"label":"HIV","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":"thinness_1to19_years","value":"o","type":"number","required":true,"rows":null},{"label":"thinness_5to9_years","value":"p","type":"number","required":true,"rows":null},{"label":"Income_Comp_Of_Resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null},{"label":"Measles","value":"s","type":"number","required":true,"rows":null},{"label":"Developing(1 or 0)","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["6581e5f2.ceb65c"]]},{"id":"6581e5f2.ceb65c","type":"function","z":"7cef7c2f.610024","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n//following are required to receive a token\nvar apikey=\"KlEwVVpWG93A5_fQHTy4CMWhPYwS26B_CAxdcc9RANUN\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["5c1f2137.b21cd"]]},{"id":"480a9911.f2bf48","type":"http request","z":"7cef7c2f.610024","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/276a3e99-d4bb-456b-97da-f6a1d8d1207d/deployments/a18a759f-f2be-47a6-a73b-839c81332a55/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["5ed77fb.b13e88","a39c1161.d47e2"]]},{"id":"5b2a8ced.e8a324","type":"debug","z":"7cef7c2f.610024","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"a39c1161.d47e2","type":"function","z":"7cef7c2f.610024","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["5b2a8ced.e8a324","e555521.6fd29b"]]},{"id":"5ed77fb.b13e88","type":"debug","z":"7cef7c2f.610024","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"c27528c8.45c5a8","type":"function","z":"7cef7c2f.610024","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"276a3e99-d4bb-456b-97da-f6a1d8d1207d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\"BMI\",\n\"Adult Mortality\",\n\"infant deaths\",\n\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"under-five deaths \",\"Polio\",\"Total expenditure\",\"Diphtheria \",\" HIV/AIDS\",\"GDP\",\"Population\",\" thinness  1-19 years\",\" thinness 5-9 years\",\"Income composition of resources\",\"Schooling\",\"Measles\",\"Developing\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["480a9911.f2bf48"]]},{"id":"5c1f2137.b21cd","type":"http request","z":"7cef7c2f.610024","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["c27528c8.45c5a8"]]},{"id":"e555521.6fd29b","type":"ui_text","z":"7cef7c2f.610024","group":"bc2b0978.0ce728","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"bc2b0978.0ce728","type":"ui_group","z":"","name":"Machine Learning Model","tab":"398dcff3.5a27f","order":1,"disp":true,"width":"6","collapse":false},{"id":"398dcff3.5a27f","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]